<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>kysely info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Info</h1>
	<h2>API End Pointit</h2>
   
	 <a href="/kysymykset">/kysymykset</a>
	 <p>Ensimmäiset kysymykset JSON muodossa</p>
	 <p>{"id":3,"question":"Ikäsi?"},</p>
	 <p>{"id":4,"question":"Mitä opiskelet?"}</p>
	 <br>
	 <br>
	 
	 <a href="/vastaukset">/vastaukset</a>
	 <p> Vastaukset, ei vielä toiminnassa</p>
	 <p>{"vastausSisus":"Kahvi on hyvää"},</p>
	 <br>
	 <br>
	 
	 <a href="/kyselyt">/kyselyt</a>
	 <p>Näyttää kaikki kyselyt</p>
	 <p>{"kyselyNimi":"Kahvi"},</p>
	 <p>{"kyselyNimi":"Open"}</p>
	 <br>
	 <br>
	 
	 <a href="/kysely/Kahvi">/kysely/Kahvi</a>
	 <p>/kysely/{kyselyNimi}</p>
	 <p>{kyselyNimi} kohdalle laitetaan kyselyn nimi. Tästä linkistä pääsee suoraan iKahvi kyselyyn.</p>
	 <p>{"id":3,"question":"Ikäsi?"},</p>
	 <p>{"id":4,"question":"Mitä opiskelet?"}</p>
	 
	 
	 
	 	
</body>
</html>